<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <script src="script.js"></script>
    <script src="task.js"></script>
  </head>
  <body ng-app='taskManager'>
    <h1>Task Manager</h1>
    <div ng-controller = 'taskCtrl as ctrl'>
      <div ng-repeat='task in ctrl.tasks'>
        <input type='checkbox' ng-checked='task.completed'
          ng-click='ctrl.complete($index)'>
        {{task.name}}
      </div>
    </div>
  </body>
</html>